<div class="bg-light w-75 mx-auto mb-5 bd-example p-5 shadow rounded">
  <div class="dropdown d-flex justify-content-end">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      Categories
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      {{#each categories}}
          <a class="dropdown-item" href="/products/{{this}}">{{this}}</a>
      {{/each}}
    </div>
  </div>
  <h5 class="primary text-center">Lista de productos</h5>
  <br>
  <table class="table bg-white">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Titulo</th>
        <th scope="col">Precio</th>
        <th scope="col">Thumbnail</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody id="table">
      {{#each productList}}
      <tr>
        <th scope="row">{{this.id}}</th>
        <td>{{this.name}}</td>
        <td>${{this.price}}</td>
        <td><img style="width:50px;" src="{{this.photo}}" alt=""></td>
        <form action="/cart/addToCart" method="post">
          <input type="hidden" name="id" value="{{this.id}}">
          <input type="hidden" name="name" value="{{this.name}}">
          <input type="hidden" name="price" value="{{this.price}}">
          <input type="hidden" name="description" value="{{this.description}}">
          <input type="hidden" name="photo" value="{{this.photo}}">
          <td><button type="submit" class="btn btn-primary">Add to cart</button></td>
        </form>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>